

*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(../img/orchestra4.jpg);
	background-size: 100% 700px;
	background-repeat: no-repeat;
}

h1{
	text-align: center;
	padding: 20px;
	color: #fff;

}

h2{
	text-align: center;
	padding: 20px;
}

.register{
	background: #8a965c;
	width: 500px;
	margin: 0px 0px 0px 450px;
	font-size: 18px;
	color: white;
	padding: 20px;
	border-radius: 10px; 
    background-color: hsla(200deg, 50%, 50%,0.9);
    height: 580px;
}

#register{
	margin-left: 50px;

}

label{
	color: white;
	font-family: sans-serif;
	font-size: 18px;
	font-style: italic;

}

#name{
	width: 300px;
	outline: none;
	border-radius: 3px;
	padding: 7px;
}

#phone{
	width: 65px;
	outline: none;
	border-radius: 3px;
	padding: 7px;
}

#num{
	width: 230px;
	outline: none;
	border-radius: 3px;
	padding: 7px;
}

#sub{
	width: 100px;
	padding: 7px;
	font-size: 16px;
	font-family: sans-serif;
	font-style: italic;
	font-weight: 600;
	border: none;
	border-radius: 10px;
	outline: 0;
	background-color: white;


}



/*===================================
        Responsive
 ===================================*/       
























